.dashboard {
  min-width: 100%;
  margin: 1rem 0;

  position: relative;
  // flex-grow: 1;
  height: 800px;  

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;

  .card {
    position: absolute;
    margin: 0rem 10px;
    align-items: flex-start;

    .handle {
      position: absolute;
      bottom: 0px;
      right: 0px;
    }

    .cardHeader {
      margin-bottom: 0.5rem;
      p {
        margin-bottom: 0;
      }

      .title {
        margin-right: 2rem;
      }
    }

    .cardBody {
      width: 95%;
      padding: 0rem 0.25rem;
      margin: 0rem 0rem;
      min-width: 100px;
      text-align: left;

      .stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;

        p {
          margin-bottom: 0rem;

          &.statHeader {
            // font-weight: 500;

            .dark & {
              color: white;

              .under {
                color: #a9b2c9;
                font-weight: normal;
              }
            }

            .light & {
              .under {
                color: rgba(0, 0, 0, 0.65);
                font-weight: normal;
              }
            }
          }
        }

        .under {
          font-size: 0.6rem;
        }

        .delta {
          margin-left: auto;
          display: flex;
          align-items: center;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: 0.7rem;

      svg {
        margin: 0 0.1rem;
      }

      .min {
        color: rgb(185, 185, 75);
      }

      .close {
        color: rgb(190, 75, 75);
      }
    }
  }

  .card:focus {
    outline: none;
  }
}

.handle::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: "";
  border-radius: 2px;
  border-top: .35rem solid transparent;
  border-left: .35rem solid transparent;

  .dark & {
    border-bottom: .35rem solid rgb(50, 50, 70);
    border-right: .35rem solid rgb(50, 50, 70);
  }

  .light & {
    border-bottom: .35rem solid rgb(231, 149, 42);
    border-right: .35rem solid rgb(231, 149, 42);
  }
}

.moduleCollapseIn {
  overflow: hidden;
  transition: max-height 0.45s ease-in;
  max-height: 100px;
}

.moduleCollapseOut {
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  max-height: 0;
}

.atFront {
  z-index: 1;
}

.atBack {
  z-index: 0;
}