.moduleCollapseIn {
  overflow: hidden;
  transition: max-height 0.45s ease-in;
  max-height: 100px;
}

.moduleCollapseOut {
  overflow: hidden;
  transition: max-height 0.25s ease-out;
  max-height: 0 !important;
}

.draggable {
  cursor: auto !important;
  margin: 0.5rem 0.5rem;
}

.draggable:focus {
  outline: none;
}

.MuiFormControl-root {
  margin-left: 0.25rem !important;

  .MuiTypography-body1 {
    .dark & {
      color: #a9b2c9;
    }

    .light & {
      color: rgba(0, 0, 0, 0.65);
    }

    font-size: 0.75rem;
    line-height: 0.75rem;
  }

  .MuiRadio-root {
    padding: 0.25rem 0.5rem;

    .dark & {
      color: white;
    }

    .light & {
      color: rgb(80, 80, 80);
    }
  }
}

.dashboard {
  margin-top: 0.5rem;
  min-width: 100%;

  display: grid;
  grid-template-columns: 25rem 1fr;
  grid-template-rows: auto 1fr;

  .controller {
    margin: 0.5rem 0.5rem;
    z-index: 5;

    .cardHeader {
      svg {
        padding: 0.25rem;
        font-size: 1.25rem;
        margin-right: 0.25rem;
      }

      justify-content: flex-start;
    }

    .cardBody {
      max-height: 200px;
      display: flex;
    }

    .selectTray {
      width: 180px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .select {
        margin: 0.25rem 0;
        width: 90%;

        ::-webkit-scrollbar-track {
          border-radius: 0px;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          background: rgb(243, 239, 239);
        }

        ::-webkit-scrollbar-thumb {
          border-radius: 0px;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          background: rgb(192, 189, 189);
        }

        ::-webkit-scrollbar-thumb:hover {
          .dark & {
            background: rgb(77, 77, 107);
          }

          .light & {
            background: rgb(204, 198, 198);
          }
        }

        .dark & {
          color: black;
        }
      }

      .dark & {
        .reactSelect__control {
          background: rgb(42, 42, 58);
        }

        .reactSelect__placeholder {
          color: #a9b2c9;
        }

        .reactSelect__single-value {
          color: white;
        }

        .reactSelect__input {
          color: white;
        }
      }
    }
  }

  ::-webkit-scrollbar {
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    .dark & {
      background: rgb(62, 67, 91);
    }

    .light & {
      background: #f1f1f1;
    }

    border-radius: 5px;
    margin: 0 30px;
  }

  ::-webkit-scrollbar-thumb {
    .dark & {
      background: rgb(50, 50, 68);
    }

    .light & {
      background: rgb(216, 212, 212);
    }

    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    .dark & {
      background: rgb(45, 45, 62);
    }

    .light & {
      background: rgb(204, 198, 198);
    }
  }

  .dashMain {
    margin: 0.5rem 0.5rem;
    height: 100%;
    align-self: start;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .dashTop {
    min-width: 100%;
    display: flex;
    align-self: start;
    overflow-x: scroll;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    .draggable {
      flex: 1;
    }
  }

  .dashSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .card {
    position: relative;
    margin: 0 0;
    align-items: flex-start;
    justify-content: center;

    .cardHeader {
      margin-bottom: 0.5rem;
      p {
        margin-bottom: 0;
      }

      .title {
        margin-right: 2rem;
        white-space: nowrap;
      }
    }

    .cardBody {
      width: 100%;
      padding: 0rem 0.25rem;
      margin: 0rem 0rem;
      box-sizing: border-box;
      text-align: left;

      .stat {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;

        p {
          margin-bottom: 0rem;

          &.statHeader {
            white-space: nowrap;
            .dark & {
              color: white;

              .under {
                color: #a9b2c9;
                font-weight: normal;
                transform: translateY(2px);
              }
            }

            .light & {
              color: black;

              .under {
                color: rgba(0, 0, 0, 0.65);
                font-weight: normal;
              }
            }
          }
        }

        .under {
          font-size: 0.6rem;
        }

        .delta {
          margin-left: auto;
          display: flex;
          align-items: center;

          svg {
            font-size: 1.1rem;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      margin-left: auto;
      font-size: 0.7rem;

      svg {
        margin: 0 0.1rem;
      }

      .min {
        color: rgb(185, 185, 75);
      }

      .close {
        color: rgb(190, 75, 75);
      }
    }
  }
}
